@model IEnumerable<Fall2025_Project3_mbaizhakyp.Models.ActorMovie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actor.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actor.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-movieId="@item.MovieId" asp-route-actorId="@item.ActorId">Edit</a> |
                <a asp-action="Details" asp-route-movieId="@item.MovieId" asp-route-actorId="@item.ActorId">Details</a> |
                <a asp-action="Delete" asp-route-movieId="@item.MovieId" asp-route-actorId="@item.ActorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>